@font-face {
    font-family: "Hallo";
    src: url("/SEGOEUI.TTF");
}

.body{
    font-family: "Hallo";
}

@font-face {
    font-family: "EmojiDing";
    src: url("/SEGUIEMJ.TTF");
}

.emojiding{
    font-family: "EmojiDing";
}